<div class="container">
<h1>Edit Contact</h1>
  <div class="form-container">
    <%= render "form", contact: @contact %>
    <%= link_to "Back", contacts_path, class: 'btn btn-secondary mt-2' %>
  </div>
</div>