<div class="container">
    
    <% @contacts.each do |contact|%>
        <div class="contact-card-sm">
            <div class="contact-card-sm-content">
              <i class="fas fa-user-circle"></i>
              <p><%= contact.name%></p>
            </div>
        </div>
    <% end %>
</div>